.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.navbar-logo {
    flex: 1; /* Take up remaining space */
    text-align: center;
}

.logo {
    width: 100px; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
}

.navbar-links {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-links li {
    margin-right: 20px; /* Adjust spacing between links */
}

.navbar-links li:last-child {
    margin-right: 0;
}

.navbar-links a {
    text-decoration: none;
    color: #fff;
}

.navbar-links a:hover {
    color: #ccc;
}
